/* ----------------------------------------------- */
/* For Media Queries */
/* ----------------------------------------------- */

/* Big Tablets to 1400px (Widths smaller than the 1140px row */
@media(max-width: 1400px){
    /* Header Section */
    .hero-text-box{
        width: 100%;
        padding: 0 10%;
    }
}

/* Small Tablets to Big Tablets - From 768px to 1023px */
@media(max-width: 1023px){
    /* Whole Doc */
    html{
        font-size: 18px;
    }

    /* Features Section */
    .long-copy{
        width: 80%;
        margin: 30px auto 7px auto;
    }

    /* How it Works Section */
    .steps-box:first-child{
        margin-top: 10px;
    }

    .steps-box:last-child{
        margin-top: 10px;
    }

    .work-step{
        margin-bottom: 40px;
    }

    .work-step:last-of-type{
        margin-bottom: 60px;
    }

    .app-screen{
        width: 50%;
    }

    /* Cities Section */
    .city-feature{
        font-size: 90%;
    }

    /* Plan Section */
    .plan-box{
        width: 100%;
        margin: 0%;
    }

    .plan-price{
        font-size: 170%;
    }

    /* Contact Section */
    .contact-form{
        width: 80%;
    }
}

/* Small Phones to Small Tablets - From 481px to 767px */
@media(max-width: 767px){
    /* Whole Doc */
    html{
        font-size: 16px;
    }

    .col{
        width: 100%;
        margin: 0 0 4% 0;
    }

    h1{
        font-size: 180%;
    }

    h2{
        font-size: 150%;
    }

    .section-cities .row,
    .section-plans .row{
        margin-bottom: 20px;
    }

    /* ---Navigation Bar--- */
    .hide{
        display: none;
    }

    .mobile-nav-icon{
        display: inline-block;
        position: relative;
        z-index: 11;
    }

    .main-nav{
        position: absolute;
        top: -58px;
        left: 0;
        width: 100%;
        z-index: 10;
        float: none;
        background: #333;
        padding: 50px 30px;
    }

    .main-nav li{
        display: block;
        margin: 50px 75px;
        text-align: center;
    }

    .main-nav li a{
        padding: 5px 10px 0 10px;
    }

    /* ----Sticky Nav Bar--- */
    .sticky .main-nav{
        margin-top: 50px;
        background: #e2e2e2;
    }

    .sticky .mobile-nav-icon{
        margin-top: 20px;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{
        color: #333;
    }

    .sticky .mobile-nav-icon i{
        color: #333;
    }

    /* Features Section */
    .long-copy{
        width: 100%;
        margin: 30px 0;
    }

    /* Header Section */
    .hero-text-box{
        padding: 0 7%;
    }

    /* How it Works Section */
    .work-step{
        margin-bottom: 20px;
    }

    .work-step:last-of-type{
        margin-bottom: 20px;
    }

    .steps-box:first-child{
        text-align: center;
    }

    .app-screen{
        width: 30%;
    }

    .work-step div{
        height: 40px;
        width: 40px;
        margin-right: 15px;
        float: left;
        line-height: 33px;
    }

    .work-step p{
        line-height: 35px;
    }

    /* Footer */
    .social-links,
    .footer-nav{
        float: none;
        text-align: center;  
    }

    .footer-nav li,
    .social-links li{
        margin: 10px;
    }

}

/* Small Phones -  From 0 to 480px */
@media(max-width: 480px){
    /* Whole Doc */
    html{
        font-size: 14px;
    }

    section{
        padding: 25px 0;
    }

    /* Header Section */
    .hero-text-box{
        padding: 0 15%;
    }

    /* How it Works Section */
    .work-step p{
        float: right;
        margin: 10px 0 20px 0;
    }

    /* Contact Section */
    .contact-form{
        width: 100%;
    }
    
}