/* ----------------------------------------------- */
/* For Reset Doc */
/* ----------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------------------------- */
/* For Whole Doc */
/* ----------------------------------------------- */
/* Root */
html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* Row */
.row{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}

/* For Sections */
section{
    padding: 80px 0;
}

/* Headings */
h2{
    position: relative;
    font-size: 180%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

h2::before{
    content: '';
    position: absolute;
    background: #e67e22;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -110%);
    width: 100px;
    height: 3px;
}

/* Buttons */
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 200px;
    transition: all 0.3s ease-in;
}

.btn-full:link,
.btn-full:visited{
    background: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 20px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}


.btn:hover,
.btn:active{
    background: #b05d14;
    color: #fff;
    border: 1px solid #b05d14;
}

/* Icons */
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 90%;
}

/* Clear Floats */
.clearfix{
    zoom: 1;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* For Header Section */
/* ----------------------------------------------- */
/* -----Hero----- */
/* Image Background */
header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

/* Text */
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 2.7%;
}

h1{
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 250%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}


/* -----Navigation----- */
/* logo */
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/* Menu */
.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 1px solid #e67e22;
    padding-bottom: 5px;
}

/* ----------------------------------------------- */
/* For Features Section */
/* ----------------------------------------------- */
/* Title Paragraph */
.long-copy{
    line-height: 145%;
    width: 70%;
    text-align: center;
    margin: 40px auto 10px auto;
}

/* ------Grids----- */
.box{
    padding: 1% 1% 3% 1%;
    text-align: center;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
    transition: all 0.3s ease-in;
}

.box p{
    font-size: 90%;
    line-height: 145%;
    transition: all 0.3s ease-in;
}

.icon-big{
    font-size: 320%;
    display: block;
    color: #e67e22;
    margin: 30px 0;
    transition: all 0.3s ease-in;
}

.box:hover{
    background: #e67e22;
}

.box:hover > *{
    color: #fff;
}

/* ----------------------------------------------- */
/* For Meals Section */
/* ----------------------------------------------- */
.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: #000;
}

.meal-photo img{
    opacity: 0.4;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: all 0.4s ease-in;
}

.meal-photo img:hover{
    transform: scale(1.05);
    opacity: 1;
}

/* ----------------------------------------------- */
/* For How it Works Section */
/* ----------------------------------------------- */
.section-steps{
    background: #f4f4f4;
}

/* ------Left------ */
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

/* ------Right------ */
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 40%;
}

.work-step{
    margin-bottom: 50px;
}

/* Numbers */
.work-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    margin-right: 25px;
    float: left;
}

/* App Buttons */
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* ----------------------------------------------- */
/* For Cities Section */
/* ----------------------------------------------- */
.cbox{
    margin-top: 30px;
}

.cbox img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px;
}

.city-feature a:link,
.city-feature a:visited{
    text-decoration: none;
    color: #e67e22;
    transition: all 0.3s ease-in;
}

.city-feature a:hover,
.city-feature a:active{
    color: #555;
}

/* ----------------------------------------------- */
/* For Testimonials Section */
/* ----------------------------------------------- */
.section-testimonials{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 50px;
}

blockquote::before{
    content: '\201C';
    display: block;
    font-size: 500%;
    position: absolute;
    left: -10px;
    top: 0;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* ----------------------------------------------- */
/* For Plans Section */
/* ----------------------------------------------- */
.section-plans{
    background: #f4f4f4;
}

.pbox{
    margin-top: 40px;
}

.plan-box{
    background: #fff;
    border-radius: 5px;
    width: 90%;
    margin: 0 5%;
    box-shadow: 0 4px 2px #efefef;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #d3d3d3;
}

/* ------Top----- */
.plan-price{
    font-size: 200%;
    margin-bottom: 10px;
    font-weight: 300;
    color: #e67e22;
}

.plan-price span{
    font-size: 30%;
    font-weight: 400;
}

.plan-price-meal{
    font-size: 80%;
}

.plan-box div:first-child{
    background: #e7e7e7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* ------Middle------ */
.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0;
    vertical-align: middle;
}

/* -----Bottom---- */
.plan-box div:last-child{
    text-align: center;
    border: none;
}

/* ----------------------------------------------- */
/* For Contact Form Section */
/* ----------------------------------------------- */
.contact-form{
    width: 60%;
    margin: 30px auto 0 auto;
    font-size: 90%;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
}

textarea{
    min-height: 100px;
    resize: vertical;
}

input[type=checkbox]{
    margin: 5px 5px 5px 0;
}

/* ----------------------------------------------- */
/* For Footer Section */
/* ----------------------------------------------- */
footer{
    background: #333;
    padding: 50px;
    font-size: 90%;
}

/* --------Footer Nav and Social------ */
.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin: 10px 20px 10px 0;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: none;
    color: #888;
    transition: all 0.3s ease-in;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 120%;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.social-links li a:hover,
.social-links li a:active{
    color: #e67e22;
}

/* -----Paragraph----- */
footer p{
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 40px;
}

footer p:last-child{
    font-size: 60%;
    margin-top: 20px;
}

