/* ----------------------------------------------- */
/* For Reset Doc */
/* ----------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------------------------- */
/* For Whole Doc */
/* ----------------------------------------------- */
/* Root */
html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* Row */
.row{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 25px;
}

/* For Sections */
section{
    padding: 80px 0;
}

h2{
    position: relative;
    font-size: 180%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

h2::before{
    content: '';
    position: absolute;
    background: #e67e22;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -110%);
    width: 100px;
    height: 3px;
}

/* Clear Floats */
.clearfix{
    zoom: 1;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* For Header Section */
/* ----------------------------------------------- */
/* -----Hero----- */
/* Image Background */
header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

/* Text */
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 40px;
}

h1{
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 250%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

/* Buttons */
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: all 0.3s ease-in;
}

.btn-full:link,
.btn-full:visited{
    background: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 20px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}


.btn:hover,
.btn:active{
    background: #b05d14;
    color: #fff;
    border: 1px solid #b05d14;
}

/* -----Navigation----- */
/* logo */
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/* Menu */
.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 1px solid #e67e22;
    padding-bottom: 5px;
}

/* ----------------------------------------------- */
/* For Features Section */
/* ----------------------------------------------- */
/* Title Paragraph */
.long-copy{
    line-height: 145%;
    width: 70%;
    text-align: center;
    margin: 40px auto 10px auto;
}

/* ------Grids----- */
.box{
    padding: 1%;
    text-align: center;
    height: 380px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
    transition: all 0.3s ease-in;
}

.box p{
    font-size: 90%;
    line-height: 145%;
    transition: all 0.3s ease-in;
}

.icon-big{
    font-size: 320%;
    display: block;
    color: #e67e22;
    margin: 30px 0;
    transition: all 0.3s ease-in;
}

.box:hover{
    background: #e67e22;
}

.box:hover > *{
    color: #fff;
}

/* ----------------------------------------------- */
/* For Meals Section */
/* ----------------------------------------------- */
.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: #000;
}

.meal-photo img{
    opacity: 0.4;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: all 0.4s ease-in;
}

.meal-photo img:hover{
    transform: scale(1.05);
    opacity: 1;
}

/* ----------------------------------------------- */
/* For How it Works Section */
/* ----------------------------------------------- */
.section-steps{
    background: #f4f4f4;
}

/* ------Left------ */
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

/* ------Right------ */
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 40%;
}

.work-step{
    margin-bottom: 50px;
}

/* Numbers */
.work-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    margin-right: 25px;
    float: left;
}

/* App Buttons */
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* ----------------------------------------------- */
/* For Cities Section */
/* ----------------------------------------------- */
.cbox{
    margin-top: 30px;
}

.cbox img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px;
}

.city-feature a:link,
.city-feature a:visited{
    text-decoration: none;
    color: #e67e22;
    transition: all 0.3s ease-in;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 90%;
}

.city-feature a:hover,
.city-feature a:active{
    color: #555;
}