/* ----------------------------------------------- */
/* For Reset Doc */
/* ----------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------------------------- */
/* For Whole Doc */
/* ----------------------------------------------- */
html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

/* ----------------------------------------------- */
/* For Header */
/* ----------------------------------------------- */
/* -----Hero----- */
/* Image Background */
header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Text */
.hero-text-box{
    position: relative;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
}

h1{
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 250%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

/* Buttons */
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: all 0.3s ease-in;
}

.btn-full:link,
.btn-full:visited{
    background: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 20px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}


.btn:hover,
.btn:active{
    background: #b05d14;
    color: #fff;
    border: 1px solid #b05d14;
}

/* -----Navigation----- */
/* logo */
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/* Menu */
.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 1px solid #e67e22;
    padding-bottom: 5px;
}